<%- include('./includes/head.ejs') %>
<%- include('./includes/header.ejs') %>
<main>
    <div class="error-img"></div>
    <h1 class="error-h1">Sorry, this page is dead. Try something else.</h1>

</main>
<%- include('./includes/footer.ejs') %>