</head>
<body>
    <header class="main-header">
        <section class="branding">
            <a class="logo-link" href="/"><div class="logo-img"></div></a>
            <a class="logo-link" href="/"><h1>Vikingware</h1></a>
        </section>
        <section class="search-bar">
            <form action="/search" method="post">
                <input type="text" name="search" id="search">
                <button type="submit">Search</button>
            </form>
        </section>
    </header>
