@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;400;700&display=swap');

.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

legend{
  color: #fff;
}

form{
  margin-top: 7rem;
}
fieldset{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  grid-gap: 3rem;
}

label {
  text-align: center;
  padding: .8rem;
  font-size: 2rem;
}
.btn {
  color: #0065bd;
  font-weight: bold; 
  padding: .75rem;
}

li{
  list-style: none;
}
input{
  color: #000;
  padding: .8rem;
  border-radius: 5px;
}

#message{
  text-align: center;
  grid-column: 1 / span 3;
}


/* * * * * * * * * * * * Week 3 * * * * * * * * * * */
.no-products {
  color: #313b44;
}

section.branding{
  display: grid;
  grid-template-columns: 7rem 1fr;
}
header .logo-img{
  background-image: url("../images/viking-skull.jpg");
  height: 4rem;
  width: 4rem;
  padding: .5rem;
  background-size: cover;
  border-radius: 10px;
  margin: 1rem;
}
.logo-link{
  margin: 0;
  padding: 0;
}
h1{
  padding-top: 1rem;
  color: #fff;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}
/* * * * * * * * * * * * ERRORS * * * * * * * * * * */
.error-img{
  background-image: url("../images/viking-skull.jpg");
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  background-size: cover;
  margin: 2rem auto;

}

.error-h1{
  text-align: center;
  color: #313b44;
}
/* * * * * * * * * * * * SEARCH * * * * * * * * * * */
.search-bar input, .search-bar button{
  border-radius: 10px;
  padding: .5rem;
  margin-right: .5rem;
}
.search-bar input{
  width: 30rem;
}

.search-bar button{
  background-color: #313b44;
}

/* * * * * * * * * * * * PRODUCT GRID DISPLAY * * * * * * * * * * */
.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 40rem;
  margin-top: 2rem;
  box-shadow: 5px 5px 15px #adbec8;
  background-color: #fff;
}

.card__header{
  padding: 1rem;
  background-color: #313b44;
}

.card__header .product_title {
  color: #fff;
}

.card__image img{
  width: 100%;
}

.card__content{
  padding: 1em;
}

p.product__description{
  color: #313b44;
}

h2.product__price{
  color: #313b44;
}