.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

legend{
  color: #fff;
}

form{
  margin-top: 7rem;
}
fieldset{
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  grid-gap: 3rem;
}

label {
  text-align: center;
  padding: .8rem;
  font-size: 2rem;
}
.btn {
  color: #0065bd;
  font-weight: bold; 
  padding: .75rem;
}

li{
  list-style: none;
}
input{
  color: #000;
  padding: .8rem;
  border-radius: 5px;
}

#message{
  text-align: center;
  grid-column: 1 / span 3;
}